<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="regression_tests">
    <test name="end-end scenario">
        <classes>
            <class name="TestSuite.Search.MainSearchTests">
                <methods>
                    <include name="smokeTest"/>
                    <include name="searchFuncButton"/>
                    <include name="searchFuncEnter"/>
                    <include name="searchTrendingWidget"/>
                </methods>
            </class>
            <class name="TestSuite.Search.SearchItemDisplayTests">
                <methods>
                    <include name="searchRealItemsCheck"/>
                    <include name="searchFakeItemsCheck"/>
                </methods>
            </class>
            <class name="TestSuite.Search.SearchItemNumberTests">
                <methods>
                    <include name="searchNumOfItems"/>
                    <include name="searchNumOfItemsZero"/>
                </methods>
            </class>
            <class name="TestSuite.Register.MainRegisterTests">
                <methods>
                    <include name="smokeTest"/>
                    <include name="testEmptyEmail"/>
                    <include name="testEmptyPassword"/>
                    <include name="testEmailWithoutAt"/>
                    <include name="testEmailWithNothingAfterDot"/>
                    <include name="testEmailWithNothingAfterAt"/>
                </methods>
            </class>
            <class name="TestSuite.Home.FooterTests">
                <methods>
                    <include name="homeFacebookNav"/>
                    <include name="homeInstagramNav"/>
                    <include name="homeTiktokNav"/>
                    <include name="homeTwitterNav"/>
                </methods>
            </class>
            <class name="TestSuite.Home.HeaderCategoriesTests">
                <methods>
                    <include name="homeCategoryNav"/>
                    <include name="homeSubCategoryNav"/>
                </methods>
            </class>
            <class name="TestSuite.Home.HeaderUtilityTests">
                <methods>
                    <include name="homeLangToArabic"/>
                    <include name="homeRegisterNav"/>
                    <include name="homeForgetPassNav"/>
                </methods>
            </class>
            <class name="TestSuite.Accessories.AccessoriesTests">
                <methods>
                    <include name="verifyAddToCart"/>
                    <include name="verifySortingOptions"/>
                    <include name="verifyPriceFilteringOptions"/>
                    <include name="verifyBlackColorFilteringOption"/>
                    <include name="verifyCorrectRedirect"/>
                    <include name="verifyViewAsOptions"/>
                    <include name="verifyInvalidPriceFilteringOptions"/>
                    <include name="verifyMixedColorsFilteringOption"/>
                    <include name="verifyRemoveFromCart"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>